<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sports</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img class="images" src="./assets/icon/Four.jpeg"/>
      <ion-card-subtitle color="danger">€5,250</ion-card-subtitle>
      <ion-card-title>Jetski 1100 STX Kawasaki</ion-card-title>
      <ion-text  >
        <p> Jetski for sale
          going perfect
          94 hours
          Trailer included</p>
      </ion-text>
      <ion-button color="primary" routerLink="/log-in" routerDirection="forward">
        Buy Now
      </ion-button>
    </ion-card-header>
  </ion-card>
</ion-content>
