<ion-header>
  <ion-toolbar>
    <ion-title>viewListing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-card>
    <ion-card-header>
      <img class="images" src="./assets/icon/two.jpeg"/>
      <ion-card-subtitle color="danger">€1,500</ion-card-subtitle>
      <ion-card-title>06 Audi A3</ion-card-title>
      <ion-text  >
        <p> All working fine, new timing belt installed, need it gone today...</p>
      </ion-text>
      <ion-button ="Getdetails()" color="primary" routerLink="/log-in" routerDirection="forward">
        Buy Now
      </ion-button>
    </ion-card-header>
  </ion-card>
</ion-content>
