<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Bikes</ion-title>
  </ion-toolbar>
  
 
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <img class="images" src="./assets/icon/one.jpeg"/>
      <ion-card-subtitle color="danger" >€50</ion-card-subtitle>
      <ion-card-title>Mountain Bike</ion-card-title>
      <ion-text  >
        <p> Good condition, great for all surfaces, reason for selling...</p>
      </ion-text>
      <ion-button color="primary" routerLink="/log-in" routerDirection="forward">
        Buy Now
      </ion-button>
    </ion-card-header>
  </ion-card>
</ion-content>
