<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Furniture</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-badge color="danger">Advertisement</ion-badge>
  
      <img class="images" src="./assets/icon/three.jpeg"/>
      <ion-card-subtitle color="danger">€30</ion-card-subtitle>
      <ion-card-title>Mirror</ion-card-title>
      <ion-text  >
        <p>Brand New, unwanted gift, will take offers...</p>
      </ion-text>
      <ion-button color="primary" routerLink="/log-in" routerDirection="forward">
        Buy Now
      </ion-button>
    </ion-card-header>
  </ion-card>
</ion-content>
