<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cars</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card>
    
    <ion-card-header>
      <ion-badge color="danger">Advertisement</ion-badge>
      <img class="images" src="./assets/icon/six.jpeg"/>
      <ion-card-subtitle color="danger">€25,995</ion-card-subtitle>
      <ion-card-title>BMW E63 M6</ion-card-title>
      <ion-text  >
        <p>
          The E63 6 Series marked a return for BMW to Grand Touring cars after production of the E31 8 Series ceased in ’99, and its ultimate iteration is this – the BMW M6.
        </p>
      </ion-text>
      <ion-button color="primary" routerLink="/log-in" routerDirection="forward">
        Buy Now
      </ion-button>
    </ion-card-header>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <img class="images" src="./assets/icon/two.jpeg"/>
      <ion-card-subtitle color="danger">€1,500</ion-card-subtitle>
      <ion-card-title>06 Audi A3</ion-card-title>
      <ion-text  >
        <p> All working fine, new timing belt installed, need it gone today...</p>
      </ion-text>
      <ion-button color="primary" routerLink="/log-in" routerDirection="forward">
        Buy Now
      </ion-button>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img class="images" src="./assets/icon/five.jpeg"/>
      <ion-card-subtitle color="danger">€13,250</ion-card-subtitle>
      <ion-card-title>Mercedes e300 hybrid</ion-card-title>
      <ion-text  >
        <p>
          Nct 01-22
          Tax 10-21
          Cruise control
          Front and back parking sensors
        </p>
      </ion-text>
      <ion-button color="primary" routerLink="/log-in" routerDirection="forward">
        Buy Now
      </ion-button>
    </ion-card-header>
  </ion-card>

 
</ion-content>
