<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
     register
    </ion-title><ion-header>   
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <img class="images" src="./assets/icon/logo.png"/>
      
    </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-card>
  <ion-card-content>
  
    <ion-item>
      <ion-label color = "primary" position="floating">First Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color = "primary" position="floating">Surname</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color = "primary" position="floating">Username</ion-label>
      <ion-input></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label color = "primary" position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color = "primary" position="floating">Confirm Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  <BR>
  <ion-button expand="full" color="secondary" routerLink="/shipping" routerDirection="forward">
    Register
  </ion-button>
  <br>
  <ion-label  routerLink="/log-in" routerDirection="forward" color="tertiary"  ><center> I have a account! </center></ion-label>  
  </ion-card-content>
</ion-card>
</ion-content>
